html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arima", cursive;
  margin: 0px;
  color: #fff;
  letter-spacing: normal;
}

/* a {
  color: #000;
} */

.header__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background: rgb(255 255 255);
  padding: 20px;
  flex-direction: row-reverse;

  @media screen and (min-width: 1200px) {
    padding-left: 0px;
    height: 100%;
  }
}

.header__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: center;
  font-size: smaller;
  @media screen and (min-width: 1200px) {
    font-size: medium;
  }
}

.header__nav:hover {
  text-decoration: none;
}

.header__items {
  margin-right: 40px;
}

.header__items:hover {
  text-decoration: none;
}

.header__links {
  border-bottom: 1px solid #000;
}

.main__promo {
  position: fixed;
  z-index: 6;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21282e;
  background-image: url("./../img/header.jpg");
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  color: #fff;
  margin-bottom: 10px;
  top: 0;
  /*     padding: 10px;
 */
  @media screen and (min-width: 1200px) {
    /*         height: 50px;
 */
    padding: 1px;
  }
}

.title__link {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  border: aliceblue;
  border-color: #fff !important;
  font-weight: 500;
  text-transform: none;
  border-bottom: 1px solid;
  display: inline-block;
  text-decoration: none;
  letter-spacing: normal;
  font-variant-ligatures: no-common-ligatures;
  cursor: pointer;
  background-color: transparent;
  font-weight: 500;
  text-align: left;
}

.wrapper__items {
  background-color: rgb(255 255 255 / 77%);
  flex: 1 1 308px;
  display: list-item;
  text-align: center;
  margin-bottom: 30px;
  height: 545px;
  border: 1px solid #f9f9f9;

  box-shadow: 0px 0px 8px rgb(0 0 0 / 9%);
  display: block;
  position: relative;

  @media screen and (min-width: 1200px) {
    padding: 10px 0 0;
    flex: 1 1 350px;
  }
}

.wrapper__items:hover {
  z-index: 99;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.423);
  cursor: pointer;
  transition: border 150ms ease-in-out;
}

.wrapper__flex {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.wrapper__items-title {
  font-size: 1.4rem;
  line-height: 120%;
  min-height: 22px;
  font-weight: 500 !important;
  color: #000;
}

.wrapper__items-price {
  font-size: 14px;
  font-weight: 500 !important;
  color: #000;

  color: #000;
}

.wrapper__items-desc {
  line-height: 21px;
  height: 50px;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: normal;
  /* text-align: left; */
  margin-bottom: 5px;
}

.wrapper__items-promo {
  position: absolute;
  left: 7px;
  top: 5px;
  padding: 2px 5px;
  font-size: 14px;
  color: #008248;
  background-color: #fff;
  font-size: 12px;
  border-radius: 2px;
  display: inline-block;

  font-weight: normal;
  letter-spacing: normal;
  height: 20px;
  line-height: 20px;
  padding: 1px 8px;
}

.wrapper__list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin-top: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 20px;

  @media screen and (min-width: 1200px) {
    padding: 0px 25px;
  }
}

.wrapper__title {
  /* margin: 20px 0 10px; */
  font-size: calc(26px + 10 * ((100vw - 320px) / 960));
  color: #212121;
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
  padding: 5px;

  @media screen and (min-width: 1200px) {
    margin: 0px;
  }
}

.mr20 {
  margin-right: 25px;
  @media screen and (min-width: 1200px) {
    margin-right: 35px;
  }
}

.button__section {
  height: 45px;
  width: 100%;
  background-color: transparent;
  border: 2px solid #000;
  text-transform: uppercase;
  font-size: initial;
  font-weight: 700;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #93d703;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: inline-block;
  background-color: #ffe768;
  border-radius: 4px;
  font-size: 1em;
  letter-spacing: 1px;
  text-shadow: none;
  @media screen and (min-width: 1200px) {
    font-size: x-large;
  }
}

.but__q {
  border-color: #313232;
  color: #313232;
  box-shadow: none;
  font-size: 1rem;
  background: white;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.5;
  vertical-align: middle;
  margin: 0 0 1rem;
  padding: 0.9375rem 4.375rem;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.but__sec {
  padding: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1200px) {
    padding: 60px;
  }
}

a {
  cursor: pointer;
  // text-align: center;
  font-weight: 400;
}

button {
  cursor: pointer;
}

.hero__section {
  background-image: linear-gradient(
      to right,
      rgb(47 48 58 / 64%),
      rgb(47 48 58 / 24%)
    ),
    url(../../img/Background.jpg);
  background-size: cover;
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-color: #000;
  background-position: top;

  @media screen and (min-width: 1200px) {
    height: 100vh;
    width: 100%;
  }
}

.hero__title {
  font-size: 36px !important;
  line-height: 60px;
  letter-spacing: normal;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  /*   margin-top: -40px;
 */
  @media screen and (min-width: 1200px) {
    font-size: 38px !important;
    line-height: 60px;
    letter-spacing: normal;
    font-weight: 500;
    margin-top: 0px;
    text-shadow: -4px 10px 5px #000;
    padding: 50px;
  }
}

.hero__button-shop {
  color: #fff;
  border: 1px solid;
  margin-top: 1.4rem;
  padding: 1.375rem 5.799999999999997rem;
  text-decoration: none;
  background: rgb(69 126 132);
  border-radius: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    color: #fff;
    border: #457e84;
    margin-top: 1.4rem;
    padding: 1.375rem 8.8rem;
    text-decoration: none;
    background: #457e84;
    border-radius: 16px;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-bottom: 20px;

    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin: 0 auto;
  }
}

.hero__button-shop:hover {
  background: #3e6f76;
  color: #fff;
}

.hero__flex-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (min-width: 1200px) {
    justify-content: flex-end;
  }
}

.header__logo-img {
  width: 230px;
}

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  @media screen and (min-width: 1200px) {
    height: 101px;
    display: block;
  }
}

.footer__section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;

  @media screen and (min-width: 1200px) {
    padding: 20px;
  }
}

.footer__ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
  @media screen and (min-width: 1200px) {
    font-size: 1.8rem;
  }
}

.footer__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
  }
}

.wrapper__items-img {
  position: relative;
}

.wrapper__img {
  display: block;
  width: 97%;
  height: 100%;
  position: relative;
  top: 0%;
  max-height: 390px;
  padding: 5px;
  border-radius: 10px;

  @media screen and (min-width: 1200px) {
    min-height: 333px;
    max-height: 300px;
  }
}

.h1__hidden {
  display: none;
  position: absolute;
  top: -1%;
  left: 0%;
  padding: 0.5em 0;
  margin: 0;
  font-size: 1.6em !important;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;

  width: 100%;
  text-align: center;
  z-index: 99;
}

.h1__hidden:hover {
  display: none;
  position: absolute;
  content: "text";
  top: -5%;
  left: 0%;
  padding: 0.5em 0;
  margin: 0;
  font-size: 1.6em !important;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;

  width: 100%;
  text-align: center;
  z-index: 99;
}

.hide {
  display: none;
  background: #000;
  color: #fff;
  text-align: center;
}

.wrapper__items-img:hover .hide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: "text";
  top: 0%;
  left: 0%;
  padding: 0.5em 0;
  margin: 0;
  font-size: 1.6em !important;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.5);
  height: 96%;

  width: 100%;
  text-align: center;
  z-index: 99;
  transition: all 400ms ease-in-out;
}

.wrapper__buttons-sec {
  margin: 0;
  line-height: 1em;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: 10px 10px;
  font-weight: 700;
  font-weight: 700;
  text-transform: uppercase;
  left: auto;
  color: #fff;
  margin-top: 10px;
  display: block;
  text-align: center;
  padding: 14px 10px;

  color: #fff;
  border: 1px solid;
  margin-top: 1.4rem;
  padding: 1.375rem 5.8rem;
  text-decoration: none;
  // background: #b8232a;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #000;
  border: solid #000 2px;
}

.wrapper__buttons-sec:hover {
  background: #152848;
  color: #fff;
  transition: color 0.5s ease;
  text-decoration: none;
}

.prod__name {
  color: #1f1f1f;
  font-size: 2em;
  text-align: center;
  font-weight: 600;
  @media screen and (min-width: 1200px) {
    font-size: 2.75em;
  }
}
.prod__price {
  color: #000;
  font-size: 3rem;
  margin: 20px 0px 20px;
  font-weight: 600;
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin: 20px 0px 30px;
  }
}

.prod__subtitle {
  color: #363636;
  text-align: center;
  padding: 20px;
  font-size: 15px;
}

.header__color {
  background-color: #f3f3f542;
}

.prod__sec {
  padding: 145px 0 0px;
  max-width: 1440px;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    padding: 30px 0 40px;
  }
}

.prod__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    margin-top: 45px;
    margin-bottom: 70px;
  }
}

.prod__h1T {
  color: #1f1f1f;
  font-size: revert;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  padding: 25px 55px 25px;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    font-size: 1.7em;
    padding: 150px 55px 25px;
  }
}

.titleFont {
  @media screen and (min-width: 1200px) {
    font-size: 56px !important;
  }
}

.footer__brand {
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.prod__pad {
  @media screen and (min-width: 1200px) {
    padding: 250px;
    font-size: 65px !important;
  }
}

.footer__bg {
  background: #152848;
}

.footer__a-hover:hover {
  font-weight: 600;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  text-decoration: underline;
}

.prod-height {
  height: 40vh;

  @media screen and (min-width: 1200px) {
    height: 70vh;
    background-size: cover;
  }
}

.prod__margin {
  margin-top: 160px;

  @media screen and (min-width: 1200px) {
    margin-top: 0px;
    letter-spacing: 3px;
    text-align: center;
  }
}

.prod__bc {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 45%),
      rgb(0 0 0 / 50%)
    ),
    url(../../img/Carpets.jpg);
}

.prod__title2 {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1730px;
  margin-bottom: 30px;
}

.prod__img {
  width: 100%;
  height: auto;

  @media screen and (min-width: 1200px) {
    max-height: 600px;
    max-width: 420px;
    height: 450px;
  }
}

.hero__pad2 {
  padding: 2rem 1rem 1rem;

  @media screen and (min-width: 1200px) {
    padding: 3rem 2rem 2rem;
  }
}

.container__shop {
  display: block;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
  }
}

.container__shop2 {
  display: block;
  // height: 70vh;
  background-image: linear-gradient(
      90deg,
      rgba(3, 3, 3, 0.51) 0%,
      rgba(0, 0, 0, 0.62) 35%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url(../../img/Hero.avif);
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    height: 65vh;
    width: 100%;
  }
}

.itcss_a {
  display: block;
  z-index: 222222;
}

.footer__pad {
  padding: 30px;
  margin-top: 20px;
}

.hero__a {
  position: relative;
  background: rgb(0 0 0);
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
  padding: 15px 30px;
  text-align: center;
  width: 100%;
  color: cornflowerblue;
  height: 35px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  text-transform: uppercase;
  color: #ffd814;

  @media screen and (min-width: 1200px) {
    position: relative;
    display: inline-block;
    // background: #fff;
    // color: #152848;
    font-size: 40px;
    line-height: 1;
    padding: 45px 0px;
    text-align: center;
    margin: 0px;
    width: 400px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    font-size: 42px;
  }
}

.hero__a:hover {
  color: #05a2af;
  transition: color 400ms ease-in-out;
}

// .hero__a::before {
//   content: "";
//   position: absolute;
//   top: -8px;
//   right: -8px;
//   bottom: -8px;
//   left: -8px;
//   border: 2px solid #000;
//   box-shadow: 0px 0px 0px #abe2fb;
//   border-radius: 10px;
// }

.Contrast::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(
    to top,
    rgba(4, 4, 4, 0.65),
    rgba(54, 54, 54, 0.2)
  );
}

.Span::before {
  background-color: rgb(255 255 255);
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transform-origin: left center;
  z-index: -1;
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  border-radius: 10px;
}

.footer__mgpd {
  padding: 30px;
  background: rgb(68, 68, 68);
  color: #fff;
  margin-top: 20px;
  background: url("../../img/footer.webp");
  background-size: cover;

  @media screen and (min-width: 1200px) {
    margin-top: 25px;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;

  @media screen and (min-width: 1200px) {
    flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.hero-title__h1 {
  position: relative;
  display: inline-block;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  font-size: 27px;
  font-weight: 900;
  line-height: 1;
  /* padding: 35px 0px; */
  text-align: center;
  /*     margin: 250px auto;
 */
  width: 100%;
  font-size: 45px;
  line-height: 30px;
  margin-bottom: 50px;

  @media screen and (min-width: 1200px) {
    position: relative;
    display: inline-block;
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    padding: 45px 0px;
    text-align: center;
    margin: 0px;
    width: 600px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
  }
}

.hero__items {
  margin-bottom: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin-bottom: 0px;
  }
}

.hero__items:last-child {
  margin-bottom: 0px;
}
.wrapper__buttons-sec2 {
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 25px;
  color: #fff;
  width: 60%;
}

// .wrapper__buttons-sec2::before {
// content: "";
// position: absolute;
// top: 0;
// left: 0;
// width: 200%;
// height: 100%;
// background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
// background-size: 50% 100%;
// border-radius: inherit;
// }

// .wrapper__buttons-sec2:hover::before {
//   animation: animate_border .75s
//   linear infinite;
// }

.wrapper__buttons-sec2 span {
  position: relative;
  z-index: 2;
  display: flex;
  color: #000;
  /* padding: 0px 20px; */
  font-weight: 600;
  /* font-size: 18px; */
  line-height: 1.4;
  align-items: center;
  justify-content: center;
}

@keyframes animate_border {
  to {
    transform: translateX(-50%);
  }
}

.wrapper__spanNew {
  background: #04ffb9;
  min-width: 75px;
  position: absolute;
  color: #fff;
  font-size: 1.2em;
  z-index: 100;
  padding: 5px;
  top: 1%;
  left: 1%;
  font-weight: 600;
}

.btnsec {
  color: #000;
}

.btnsec__wrap {
  width: 100%;
  height: auto;
  padding: 0px 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1200px) {
    padding: 50px 0px 40px;
  }
}

.strongTitle {
  text-decoration: line-through;
  color: #ff5353;
}

.showMore__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 710px;

  @media screen and (min-width: 1200px) {
    top: 70%;
    left: 0;
    margin-top: 0px;
  }
}

.titleAbs-desk {
  @media screen and (min-width: 1200px) {
    top: 28% !important;
    left: 0% !important;
  }
}

.titleAbs-desk1600 {
  @media screen and (min-width: 1300px) {
    top: 28% !important;
    left: 0% !important;
    font-size: 36px;
  }
}

.hero__flexHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slider__h1 {
  color: #842989;
  text-align: center;
  font-weight: 300;
  margin: 60px 0px 30px;
  font-size: 34px;
  margin: 40% 0px 20px;

  @media screen and (min-width: 1200px) {
    font-size: 42px;
    margin: 20% 0px 10%;
    letter-spacing: 2.1px;
    font-weight: 300;
  }
}

.wrapper__span2 {
  position: absolute;
  color: #ffd814;
  font-size: 14px;
  z-index: 100;
  padding: 10px;
  background: #000000;
  top: 91%;
  left: 3%;
  font-weight: 600;
  letter-spacing: 1px;
  width: 88%;
}

.wrapper__span3 {
  position: absolute;
  color: #fff;
  font-size: 1.2em;
  z-index: 100;
  padding: 5px;
  background: #d00000;
  top: 1%;
  left: 1%;
  font-weight: 600;
  border-radius: 4px;
}

.about__p {
  color: #000;
  padding: 25px;
  text-align: center;
  font-size: 24px;

  @media screen and (min-width: 1200px) {
    padding: 0px 90px 5px;
    text-align: center;
    font-size: 32px;
  }
}

.about__p::first-letter {
  font-size: 46px;
  font-weight: 600;
  color: #d00000;
}

.marginAbout {
  margin: 45px 0px 40px;
}

.margAbout {
  @media screen and (min-width: 1200px) {
    margin: 70px 0px 20px;
  }
}

.formQ {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
  margin: 25px 0px 25px;
}

.form {
  padding: 30px;
  font-size: 18px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}

.form__input {
  padding: 20px 28px;
  border: 1px solid #fff0;
  background: #00000012;
  color: #05a2af;
  text-align: center;
}

.formButton {
  padding: 20px 108px;
  /*     border-radius: 10px;
 */
  border: none;
  background: #b63434;
  /* color: #05a2af; */
  font-weight: 400;
  color: #fff;
}

.formQ-h3 {
  color: #1f191a;
  text-align: center;
  font-weight: 400;
  font-size: 19px;
  font-weight: 400;
  margin: 5px 0px 5px;
}

.prodTitle {
  @media screen and (max-width: 480px) {
    margin: 45px 0px 20px;
  }
}

.hero__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  padding: 20px;
}

.hero__p {
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  font-size: 16px;
  color: #f3f3f3;
  margin-bottom: 30px;
}

.hero__span {
  color: #1d1e2e;
  text-transform: uppercase;
  background-color: #3cbeb7;
  padding: 0.6875rem 1.375rem;
  letter-spacing: 0.01em;
  border: 1px solid #ffffff;
  transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    font-size 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    padding 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity 0.23s cubic-bezier(0.3, 0, 0, 1);
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  border-radius: 3px;
}

.hero__sec {
  padding-left: 10px;
  padding-right: 10px;
}

.hero__svg-icon {
  transform: rotate(-90deg);
  // margin-top: -0.1875rem;
  margin-top: 2px;
}

.hero__span-icon {
  margin-left: 3px;
  color: #1d1e2e;
  vertical-align: middle;
  display: inline-block;
  letter-spacing: 0.01em;
  font-weight: 700;
}

.hero__about {
  display: block;
  align-self: baseline;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: auto;
    // margin: 0px auto;
  }
}

.footer__p {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: inherit;
  text-align: center;
  color: #76fff8;
}

.footer__socials {
  height: 32px;
}

.footer__box {
  max-width: none;
  flex: 1 1 50%;
}

.footer__socials-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.footer__marg {
  margin-top: 40px;

  @media screen and (min-width: 1200px) {
    margin-top: 0px;
  }
}

.footer__domain {
  display: block;
  margin-top: 40px;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

.flex__about {
  padding: 20px 50px;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: 1200px) {
    padding: 20px 100px;
  }
}
