.items__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items__input {
  display: block;
  outline: 0;
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
  padding: 25px 50px;
  color: #363636;
  text-align: center;
  border: 0.5px solid #000;
  border-radius: 0px;
  font-size: 14px;

  @media screen and (min-width: 1200px) {
    padding: 25px 50px;
  }
}

.items__input:active {
  border: 0.5px solid red;
}

.items__input::placeholder {
  font-size: 14px;
  color: #000;
}

.items__info {
  width: 100%;
  @media screen and (min-width: 1200px) {
    width: 500px;
  }
}

.items__button {
  color: #ffd814;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background: #000;
  font-size: 15px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 109px;
}

.prodPrice {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #b63434; */
  font-size: 18px;
}
